*{margin: 0;
  padding: 0;
  }

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f2f2f2;
 max-width: 800px;
margin: auto;
padding: 20px;
}



header {
  background-color: #cc2626;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 20px;
}

section {
  width: 300px;
  background-color: #b8ccb6;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

section:hover {
  transform: scale(1.05);
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

footer {
  background-color: #008ce9;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

.wink-emoji::after {
  content: '\1F609'; /* Codificación Unicode del emoji de guiño */
  margin-left: 5px; /* Espacio después del texto */
  font-size: 25px; /* Tamaño del emoji */
  color: rgb(102, 102, 218); /* Color del emoji */
}

.texto-alineado {
  text-align: center;
  margin-top: 10px; /* Agregar un margen superior para separar visualmente */
}

/* Estilos adicionales para un aspecto más moderno */
header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra para el encabezado */
}

section {
  border-radius: 8px; /* Esquinas redondeadas para las secciones */
}

h1, h2 {
  font-weight: 700; /* Texto en negrita para los encabezados */
}

/* Colores personalizados */
header {
  background-color: #812525; /* Cambiar el color de fondo del encabezado */
}

section {
  background-color: #f9f9f9; /* Cambiar el color de fondo de las secciones */
  color: #333; /* Cambiar el color del texto de las secciones */
}

footer {
  background-color: #3ba1c0; /* Cambiar el color de fondo del pie de página */
}
.row {
display: flex;
flex-wrap: wrap;
margin: 10px;
}

.column {
flex: 1;
padding: 10px;
}

@media (max-width: 600px) {
.column {
flex: 100%;
}
}

.container-nav {
  display: flex;
  padding: 10px;
  height: 50px;
  background-color: black;
  }
  .navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  }
  .brand {
  display: flex;
  align-items: center;
  }
  li>a {
  padding: 8px 24px;
  }
  li {
  list-style-type: none;
  }
  a {
  color: white;
  text-decoration:none;
  }
  .nav-links {
  display: flex;
  align-items: center;
  }
  .button-menu-toggle {
  display: none;
  }

  @media (max-width: 768px) {
    .column {
    flex: 100%;
    }
    .nav-links {
    display: none;
    }
    .button-menu-toggle {
    display: block;
    background-color: white;
    border:none;
    border-radius: 50px;
    padding: 0 24px;
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
    }
    .nav-links.nav-links-responsive {
    position:absolute;
    display: flex;
    background-color: rgba(20,20,20,0.95);
    width: 70%;
    height: 70%;
    top: 50px;
    left: 15%;
    flex-direction: column;
    padding-top: 200px;
    align-items: center;
    gap:70px;
    font-size: 40px;
    }
    .image-container{
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      margin:10px;
      margin-top: 0;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 5%;
      
      }

    }

    .image-container{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      margin:10px;
      margin-top: 0;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 5%;
      
      }
  

      .greeting {
        text-align: center;
        }
    
    
